<%- include("../partials/header.ejs") %>
<body>
    <div class="container mt-5" style="width:50%;">
        <form action="/products/<%= orderID %>/feedback" method="POST">
            <h4 class="mt-5 lead">Give Your Rating</h4>
            <div class="rate float-left">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
            </div>
            <br><br><br>
            <div class="form-group">
                <label for="desc-1">Any Comments?</label>
                <textarea type="text" class="form-control" name="message" rows="5" id="desc-1"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  
<%- include("../partials/footer.ejs") %>